navbar {

    $nav-bg-color: $flat-blue;
    $active-navlink-bg-color: darken($nav-bg-color, 10%);

    .navbar {
        height: 50px;
        justify-content: center;
        background-color: $nav-bg-color;
        color: white;

        .container {
            width: 100%;
            max-width: 1280px;
        }

        ul.nav-links {

            &.left{
                flex: 1;
            }

            >li {
                
                align-items: center;
                padding: 0 1rem;
                cursor: pointer;

                &.active {
                    cursor: default;
                }

                &.active,
                &:hover {
                    background-color: $active-navlink-bg-color;
                }

            }

        }
    }
}