navbar {

    .navbar {
        height: 50px;
        justify-content: center;
        color: white;
        transition: background-color .3s;

        &.gray {
            $nav-bg-color: $dark-gray;
            $active-navlink-bg-color: darken($nav-bg-color, 10%);
            background-color: $nav-bg-color;
                
            .nav-links > li.active,
            .nav-links > li:hover {
                background-color: $active-navlink-bg-color;
            }
        }     
        &.blue {
            $nav-bg-color: $flat-blue;
            $active-navlink-bg-color: darken($nav-bg-color, 10%);
            background-color: $nav-bg-color;
                
            .nav-links > li.active,
            .nav-links > li:hover {
                background-color: $active-navlink-bg-color;
            }
        }        
        &.green {
            $nav-bg-color: $flat-green;
            $active-navlink-bg-color: darken($nav-bg-color, 10%);
            background-color: $nav-bg-color;
                
            .nav-links > li.active,
            .nav-links > li:hover {
                background-color: $active-navlink-bg-color;
            }
        }
        &.red {
            $nav-bg-color: $flat-red;
            $active-navlink-bg-color: darken($nav-bg-color, 10%);
            background-color: $nav-bg-color;
                
            .nav-links > li.active,
            .nav-links > li:hover {
                background-color: $active-navlink-bg-color;
            }
        }
        &.purple {
            $nav-bg-color: $flat-purple;
            $active-navlink-bg-color: darken($nav-bg-color, 10%);
            background-color: $nav-bg-color;
                
            .nav-links > li.active,
            .nav-links > li:hover {
                background-color: $active-navlink-bg-color;
            }
        }

        ul.nav-links {

            &.left{
                flex: 1;
            }

            >li {
                
                font-size: 1rem;
                align-items: center;
                padding: 0 1rem;
                cursor: pointer;
                transition: background-color .3s;

                &.brand {
                    font-family: Roboto Slab;
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                &.active {
                    cursor: default;
                }

                >span[has-icon="true"] {
                    padding-left: .25rem;

                    @media screen and (max-width: 480px) {
                        display: none;
                    }
                }

            }

        }
    }
}